{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}
{% block main %}
<main class="main">
    <div class="container">
        <div class="favorites">

            <div class="favorites__txt">

                <h2 class="favorites__title">
                    Избранное
                </h2>

                <span class="favorites__title-count"> <span>4</span> предметов</span>

            </div>

            <div class="products__content">
                {% for product in favourite_products %}
                {% block _products__item %}
                {% include 'loft/components/_products__item.html' %}
                {% endblock _products__item %}
                {% endfor %}



            </div>
            <!-- /.products__content -->
        </div>
    </div>
</main>
{% endblock main %}